// un mixin normal
@mixin warning {
    background-color: orange;
    color: #fff;
  }

  // un mixix con parametros indeterminados
  @mixin box-shadow($shadows...) {
    box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
  }
  
  // un mixin con varias propiedades de font
  @mixin large-text {
    font: {
      size: 22px;
      weight: bold;
    }
  }
  
  // un mixin con un parametro y un valor por defecto por si no se informa
  @mixin rounded($radius: 6px) {
    border-radius: $radius;
  }
  
  // un mixin que incluye a otro mixin y con parametros
  @mixin box($radius: 6px, $border: 1px solid #000) {
    @include rounded($radius);
    border: $border;
  }
  
  // un mixig para links
  @mixin fancy-links {
    a {
      font-style: italic;
      text-decoration: none;
    }
  }